<div class="home-component">
  <div>Invoice Number</div>
  <mat-form-field>
    <input matInput value="0" type="number" class="off-home-right-align input-narrow" [(ngModel)]="data.invoiceNumber" />
    <!--<span matTextPrefix>
      <mat-icon aria-hidden="false" aria-label="hash" fontIcon="tag"></mat-icon>
    </span>-->
  </mat-form-field>
  <div>Invoice Date</div>
  <mat-form-field>
    <input matInput type="date" [(ngModel)]="data.invoiceDate" />
  </mat-form-field>
  <div>Client</div>
  <mat-form-field>
    <input matInput class="input-wide" [(ngModel)]="data.client" />
  </mat-form-field>
  <div>Service</div>
  <mat-form-field>
    <input matInput class="input-wide" [(ngModel)]="data.service" />
  </mat-form-field>
  <div>Instructions</div>
  <mat-form-field>
    <textarea matInput class="input-instructions" [(ngModel)]="data.instructions"></textarea>
  </mat-form-field>
  Invoice Details
  <table mat-table [dataSource]="dataSource">
    <!--Buttons Column-->
    <ng-container matColumnDef="buttons">
      <th class="buttoncolumn" mat-header-cell *matHeaderCellDef>  </th>
      <td class="buttoncolumn" mat-cell *matCellDef="let element">
        <button mat-mini-fab class="editbutton" aria-label="Edit" (click)="onEditClick(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab class="deletebutton" aria-label="Delete" (click)="onDeleteClick(element)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-mini-fab class="movebutton" [disabled]="isLastDetail(element)" aria-label="Move Down" (click)="onMoveDownClick(element)">
          <mat-icon>arrow_downward</mat-icon>
        </button>
        <button mat-mini-fab class="movebutton" [disabled]="isFirstDetail(element)" aria-label="Move Up" (click)="onMoveUpClick(element)">
          <mat-icon>arrow_upward</mat-icon>
        </button>
      </td>
    </ng-container>
    <!--Description Column-->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <!--Hours Column-->
    <ng-container matColumnDef="hours">
      <th class="hourscolumn" mat-header-cell *matHeaderCellDef> Hours </th>
      <td class="hourscolumn" mat-cell *matCellDef="let element"> {{element.hours}} </td>
    </ng-container>
    <!--Rate Column-->
    <ng-container matColumnDef="rate">
      <th class="ratecolumn" mat-header-cell *matHeaderCellDef> Rate </th>
      <td class="ratecolumn" mat-cell *matCellDef="let element"> {{element.rate}} </td>
    </ng-container>
    <!--Amount Column-->
    <ng-container matColumnDef="amount">
      <th class="amountcolumn" mat-header-cell *matHeaderCellDef> Amount </th>
      <td class="amountcolumn" mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>
    <!--Row Definitions-->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button mat-mini-fab class="addbutton" aria-label="Add" (click)="onAddClick()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-mini-fab class="printbutton" aria-label="Add" (click)="onPrintClick()">
    <mat-icon>print</mat-icon>
  </button>

</div>
